.container {
	display: flex;
	flex-direction: row;
	font-family: 'Raleway', sans-serif;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 20%;
	background-color: rgb(25,25,25);
	color: rgb(206, 204, 204);
}

.sidebar div {
	padding: 20px;
}

.sidebar-top {
	display: flex;
	flex-direction: row;
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 12px;
	justify-content: space-between;
}

.sidebar-top i {
	color: lightgrey;
	font-size: 30px;
	margin-top: 25px;
}

.sidebar-tab {
	display: flex;
	flex-direction: row;
}

.sidebar-tab p {
	margin-left: 10px;
}

.sidebar-tab img {
	height: 25px;
	padding: 10px;
	fill: white;
}

.main {
	width: 80%;
	height: 100%;
	background-color: rgb(206, 204, 204); 
}

.topbar, .general_statistics, .links {
	background-color: white;
}

.general_statistics, .links {
	margin: 10px auto;
	width: 90%;
	box-shadow: 4px 4px 8px grey;
	padding: 10px;
}

.calendar img {
	background-color: rgb(245,130,32);
	height: 20px;

}

.links {
	display: flex;
	flex-direction: column;
	align-items: : center;
}

.links h1, .main h1{
	color: rgb(206, 204, 204);
	text-transform: uppercase;
}

.line {
	border: solid rgb(206, 204, 204) 0.5px;

}

.links table {
	margin: 20px auto;
	width: 60%;
	border-collapse: collapse;
}

.links tr:hover {
	background-color: rgb(206, 204, 204);
}

.links tr:hover .trash img {
	visibility: visible;
}

.links tr:hover .linking img {
	visibility: visible;
}

.links button {
	color: white;
	background-color: rgb(245,130,32);
	padding: 10px;
	width: 10%;
	border: none;
	border-radius: 5%;
	margin: 40px auto;
}

.trash img {
	height: 15px;
	padding: 5px;
	visibility: hidden;
}

.linking img {
	height: 10px;
	visibility: hidden;
}

.general_statistics table {
	border: solid rgb(206, 204, 204);
	margin: 30px auto;
}

.topbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	border: solid 0.5px lightgrey;
	box-shadow: 4px 4px 8px grey;
}


.wallet {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 20%;
	border: solid 0.5px lightgrey;
}

.wallet img {
	height: 25px;
	margin: 10px;
}

.wallet i {
	margin: 0 10px;
}

.profile {	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 20%;
	border: solid 0.5px lightgrey;
}

.profile img {
	height: 25px;
	border: solid 0.5px lightgrey;
	border-radius: 50%;
	margin: 0 10px;
}

.bell, .logout {
	width: 10%;
	border: solid 0.5px lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
}


.bell img {
	height: 25px;
}

.logout i {
	font-size: 25px;
	color: lightgrey;
}

.wallet p {
	font-weight: bold;
	color: lightgrey;
	font-size: 20px;
}
